<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>{{random}}</h1>
      <button v-for="number in numbers" @click="anw=number">{{number}}</button>
      <h2>{{ check }}</h2>
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          numbers: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
          random: Math.floor(Math.random() * 10),
          anw:null,
        },
        computed: {
          check: function () {
            if (this.anw == this.random) {
              return 'ถูกต้อง';
            } else if (this.anw > this.random) {
              return 'มากไป';
            } else {
              return 'น้อยไป';
            }
          },
        },
       
      });
    </script>
  </body>
</html>
